:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196F3;
  --secondary-accent-color: #188CE8;
  --background-footer: #2F303A;
  --secondary-background: #F5F4FA;
  --white-color: #fff;
  --black-color: #000;
  --border-color: #EEEEEE;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --icon-color: #AFB1B8;
  --icon-background: rgba(255, 255, 255, 0.1);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

body {
  background: var(--white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  color: #2196F3;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo span {
  color: var(--black-color);
}

.main-nav,
.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav-list {
  margin-left: 93px;
}

.site-nav .link {
  color: var(--primary-text-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  /* outline: 2px solid red; */
}

.link.current {
  position: relative;
}

.link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav-list .link.current,
.site-nav-list .link:hover,
.site-nav-list .link:focus {
  color: var(--accent-color);
}

.address-header,
.address-list {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.address-list {
  /* margin-left: 331px; */
  padding-left: 0;
}

.address-list .item + .item {
  margin-left: 50px;
}

.address-list .link {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.address-list .link:hover,
.address-list .link:focus {
  color: var(--accent-color);
}

.icon-envelope,
.icon-smartphone {
  fill: currentColor;
  margin-right: 10px;
}

.page-hero {
  margin: 0 auto;
  max-width: 1600px;
  background: var(--black-color);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/indeximg/hero_img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/indeximg/hero_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.hero {
  padding: 200px 0;
}

.hero-title {
  margin: 0;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-link {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  color: var(--white-color);
  background: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-transition: background 250ms var(--timing-function);
  transition: background 250ms var(--timing-function);
}

.hero-link:hover {
  background: var(--secondary-accent-color);
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features-item {
  width: 270px;
}

.features-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: var(--secondary-background);
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-list h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-list p {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.works {
  padding-bottom: 94px;
}

.works-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.works-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work.thumb {
  position: relative;
}

.work-meta {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 27px 80px;
  background: rgba(47, 48, 58, 0.8);
}

.work-meta p {
  margin: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--secondary-background);
}

.team-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-item {
  width: 270px;
  background: var(--white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-name {
  padding: 30px 15px;
}

.team-name h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-name p {
  margin-top: 0px;
  margin-bottom: 16px;
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-item .link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background: var(--white-color);
  border-radius: 50%;
  color: var(--icon-color);
  -webkit-transition: color 250ms var(--timing-function), background 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background 250ms var(--timing-function);
}

.social-list .link:hover,
.social-list .link:focus {
  background: var(--accent-color);
  color: var(--white-color);
}

.social-icon {
  fill: currentColor;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-style: 700;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients-item {
  width: 170px;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-item .link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90px;
  color: var(--icon-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: color 250ms var(--timing-function), border 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), border 250ms var(--timing-function);
}

.clients-item .link:hover,
.clients-item .link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.clients-icon {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 530px;
  height: 580px;
  padding: 40px;
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.btn-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  color: var(--black-color);
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.btn-modal:hover {
  color: var(--accent-color);
}

.button-icon {
  width: 100%;
  height: 100%;
}

.btn-icon {
  fill: currentColor;
}

.modal-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  color: var(--black-color);
}

.form-lable {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.form-input {
  padding-left: 40px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-input:focus-within {
  border: 1px solid var(--accent-color);
  outline: none;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: currentColor;
}

.form-field:focus-within .form-icon {
  color: var(--accent-color);
}

.form-comment {
  padding: 12px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.form-comment:focus-within {
  border: 1px solid var(--accent-color);
  outline: none;
}

.form-comment::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-comment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-comment::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-field {
  position: relative;
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-text-color);
  /* outline: 2px solid red; */
}

.agreement-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.agreement-lable::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  display: inline-block;
  width: 16px;
  height: 15px;
  background-color: var(--white-color);
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
}

.agreement:checked + .agreement-lable::after {
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.btn-send {
  /* display: inline-block; */
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 30px;
  padding: 10px 55px;
  border: 0;
  border-radius: 4px;
  color: var(--white-color);
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-transition: background 250ms var(--timing-function);
  transition: background 250ms var(--timing-function);
}

.btn-send:hover {
  background: #188CE8;
}

.portfolio {
  border-top: 1px solid #ececec;
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.link-button {
  padding: 6px 22px;
  border: 0px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms var(--timing-function), background 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}

.link-button:hover,
.link-button:focus {
  background: var(--accent-color);
  color: var(--white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-element {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.project-element:nth-child(3n) {
  margin-right: 0;
}

.project-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-link {
  display: block;
}

.project-link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project.thumb {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  display: block;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.project-element:hover .project-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-overlay p {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.project-item {
  padding: 20px 24px;
  border: 1px solid var(--border-color);
}

.project-title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-type {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.footer {
  background: var(--background-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-adrs {
  margin-right: 70px;
}

.footer span {
  color: var(--white-color);
}

.adrs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.adrs-list p {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.adrs-link {
  color: var(--footer-address-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.adrs-link:hover,
.adrs-link:focus {
  color: var(--accent-color);
}

.adrs-item:not(:first-child) {
  margin-top: 9px;
}

.footer-links {
  margin-right: 93px;
}

.footer-links p {
  margin-top: 0;
  margin-bottom: 20px;
  font-style: 700;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-item .link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background: var(--icon-background);
  border-radius: 50%;
  color: var(--white-color);
  -webkit-transition: background 250ms var(--timing-function);
  transition: background 250ms var(--timing-function);
}

.footer-item:not(:last-child) {
  margin-right: 10px;
}

.footer-item .link:hover {
  background: var(--accent-color);
}

.footer-icon {
  fill: currentColor;
}

.footer-form p {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-input {
  margin-right: 12px;
  padding: 15px;
  width: 358px;
  height: 50px;
  color: var(--white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
}

.form-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  color: var(--white-color);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-transition: background 250ms var(--timing-function);
  transition: background 250ms var(--timing-function);
}

.form-button:hover {
  background: var(--secondary-accent-color);
}

.form-button::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background: url(../images/icon-send.svg);
  background-size: contain;
}
/*# sourceMappingURL=main.css.map */