.footer {
    background: $background-footer;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.footer-adrs{
    margin-right: 70px;
}

.footer span {
    color: $white-color;
}

.adrs-list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.adrs-list p {
    margin-top: 0;
    margin-bottom: 0;
    color: $white-color;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;    
    letter-spacing: 0.03em;    
}

//  .adrs-link {
//     color: $footer-address-color;
//     font-style: normal;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.1;
//     letter-spacing: 0.02em;
//     transition: color 250ms $timing-function;
// }

// .adrs-link:hover,
// .adrs-link:focus {
//     color: $accent-color;
// }

.adrs-link {
    color: $footer-address-color;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    transition: color 250ms $timing-function;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.adrs-item:not(:first-child) {
    margin-top: 9px;
}

.footer-links {
    margin-right: 93px;
}

.footer-links p {
    margin-top: 0;
    margin-bottom: 20px;
    font-style: 700;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;
}

.footer-list {
    display: flex;
}

.footer-item:not(:last-child) {
    margin-right: 10px;
}

// .footer-item .link {
//     justify-content: center;
//     align-items: center;
//     width: 44px;
//     height: 44px;
//     background: $icon-background;
//     border-radius: 50%;
//     color: $white-color;
//     transition: background 250ms $timing-function;
// }


// .footer-item .link:hover {
//     background: $accent-color;
// }

.footer-item .link {
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background: $icon-background;
    border-radius: 50%;
    color: $white-color;
    transition: background 250ms $timing-function;

    &:hover {
        background: $accent-color;
    }
}

.footer-icon {
    fill: currentColor;
}

.footer-form p {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;
}

.footer-input {
    margin-right: 12px;
    padding: 15px;
    width: 358px;
    height: 50px;
    color: $white-color;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: $border-radius;
    outline: none;
}

.form-button {
    display: inline-flex;
    padding: 10px 28px;
    width: 200px;
    height: 50px;
    background: $accent-color;
    color: $white-color;
    border: none;
    border-radius: $border-radius;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    transition: background 250ms $timing-function;

    &:hover {
        background: $secondary-accent-color;
    }

    &::after {
        content: "";
        display: inline-block;
        margin-left: 10px;
        width: 24px;
        height: 24px;
        background: url(../images/icon-send.svg);
        background-size: contain;
    }
}
