.works {
    padding-bottom: 94px;
    }
    
    .works-title {
        margin-top: 0;
        margin-bottom: 50px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
    }
    
    .works-list {
        display: flex;
    }
    
    .work.thumb {
        position: relative;
    }
    
    .work-meta {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 70px;
        padding: 27px 80px;
        background: rgba(47, 48, 58, 0.8);
    }
    
    .work-meta p {
        margin: 0px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--white-color);
    }
    
    .work-item:not(:last-child) {
        margin-right: 30px;
    }
    